.button {
  height: 2.87rem;
  border-radius: 0.43rem;
  padding: 0 0.87rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;

  color: #EBEBFC;
  background-color: #6363DB;
  border: 2px solid #4F4FB9;
}